@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
* { box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/* force scrollbar */
html { overflow-y: scroll; }



body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0; font-size: 1em; line-height: 1.4;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 5.5%;
}

p {
    min-width: 300px;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    font-weight: bold;
    font-size: larger;
    font-family: 'Josefin Sans', sans-serif;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
.btn {
    /*padding: 14px 24px;*/
    border: 0 none;
    font-weight: 700;
    font-size: large;
    letter-spacing: 3px;
    text-transform: lowercase;
}

/*Comic book button colour customization*/
.btn-primary {
    background: #00bcb0;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #04D6C9;
}

#abouth1 {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    font-family: 'Josefin Sans', sans-serif;
}

#aboutparagraph  {
    font-size: 14px;
    max-width: 750px;
}

#aboutpic {
    width: 200px;
    height:auto;
    margin-bottom: 3%;
}

#aboutcontainer {
   min-height: 600px;
}

.comicthumbnails {
    height: auto;
    width: 290px;
    padding: 5% 0;
    float: none;
}


.comicimage img {
    max-width: 650px;
    width: 70%;
    height:auto;
}


.comic-content {
    margin: 0 3%;
}

.maincontainer {
    padding-top: 120px;
    max-width: 1240px;
    text-align: center;
    margin: 0 auto;
}


/* –––– Masonry grid items ––––– */

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

#content {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    
}

.item {
    display: block;
    float: left;
    width: 300px;
    margin-bottom: 10px;
}

.item img {
    float: left;
    width: 300px;
    height: auto;
}

/* ––––– .navbar ––––– */

#navBarTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: 100 !important;
    font-style: normal;
}


.navbar {
    transition: top 0.2s ease-in-out;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 16px;
    letter-spacing: 5px;
    background-color: white !important;
}

.navbar-nav li a:hover {
    color: #00bcb0 !important;
}

